.emoji-tile{
    display: block;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emoji-tile:hover{
    transform: scale(1.1);
}